@import url('../../global.css');

.login-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
}

#logo > img{
   width: 130px;
   padding-bottom: 20px;
}

#card {
  background: var(--secondary);
  border-radius: 12px;
  width: 25%;
  min-width: 300px;
  min-height: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#buttons-choice{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;  
}

#buttons-choice > button {
  height: 40px;
}

.confirm-button{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 4px;
  & .button{
    width: 100%;
    background-color: var(--accent);
    color: #fff;
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    margin-top: 1rem;
  }
}

.register-button{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  width: 90%;
  height: 90%;
  gap: 12px;
}

.form-label {
  color: #fff;
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
}

.input{
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3px;
}

.input-wrapper {
  background: #f2f2f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 12px 18px;
  gap: 10px;
}

.input-container-passoword {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--accent);
  z-index: 10;
}

#terms-divider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.remember-forgot-password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  font-size: 14px;
  font-family: "Gabarito", sans-serif;
  font-weight: 400;
  color: var(--white);
  & a{
    text-decoration: none;
    color: var(--white);
    text-decoration: underline;
  }
}

.remember-password {
  display: flex;
  align-items: center;
  gap: 6px;
}

.remember-password label {
  display: flex;
  align-items: center;
  height: 100%; 
}

label.remember-password {
  padding-right: 12px;
}

.input-icon {
  color: var(--accent);
  
}

.form-input {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #222559;
  width: 100%;
  outline: none;
  font-family: "Gabarito", sans-serif;
}

#terms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5rem;
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  & a {
    color: #9192AC;
    text-decoration: none;
  }
}

.display-hidden{
  display: none;
}

.tips-register{
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: start;
  & p{
    font-weight: 700;
  }
  & ul{
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    font-weight: 300;
    font-style: normal;
  }
}

.text-small-regular{
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  & a {
    color: #fff;
    text-decoration: none;
    text-decoration: underline;
  }
}