@import url('../../../global.css');

.media-grid-container-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-items: center;
    margin: 0 auto;
    grid-auto-rows: min-content;
}

.media-grid-container-game::-webkit-scrollbar {
    width: 8px;
}

.media-grid-container-game::-webkit-scrollbar-track {
    background: #0B1950;
    border-radius: 4px;
}

.media-grid-container-game::-webkit-scrollbar-thumb {
    background-color: #455592;
    border-radius: 4px;
    border: 2px solid #0B1950;
}

.media-grid-container-game::-webkit-scrollbar-thumb:hover {
    background-color: #5C5E79;
}

.item-grid-card-game-input-game-dialog {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #3a3a4d;
    overflow: hidden;
}

.placeholder-item-grid-card-game-input-game-dialog {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.03);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--gray);
    font-size: 1.2rem;
}

.icon-placeholder-item-grid-card-game-input-game-dialog {
    width: 48px;
    height: auto;
}

.icon-placeholder-item-grid-card-game-input-game-dialog svg path,
.icon-placeholder-item-grid-card-game-input-game-dialog path {
    fill: var(--gray) !important;
}