@import url('../../global.css');

#banner-image {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center top;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    margin-bottom: -150px;
    position: relative;
    z-index: 0;
}