@import url('../../global.css');

#full {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

#content {
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;    
    max-height: 100vh;
    overflow-y: auto;
}

#content::-webkit-scrollbar {
    width: 8px;
}

#content::-webkit-scrollbar-track {
    background: #17172B;
}

#content::-webkit-scrollbar-thumb {
    background: #030347;
    border-radius: 10px;
}

#banner-image {
    background-color: #333;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.05));
    mask-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.05));
}

#content-wrapper {
    position: relative;
    margin-top: -100px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

h1 {
    font-size: 2.5rem;
    color: rgb(var(--white));
}

p {
    font-size: 1.1rem;
    color: #a0a0a0;
}

#card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 10px;
    overflow-x: auto; 
    white-space: nowrap; 
    overflow-y: hidden; 
    padding-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: #000077 #17172B;
}


#card-wrapper::-webkit-scrollbar {
    height: 8px;
}

#card-wrapper::-webkit-scrollbar-track {
    background: #17172B;
    border-radius: 10px;
}

#card-wrapper::-webkit-scrollbar-thumb {
    background: #030347;
    border-radius: 10px;
}