@import url('../../global.css');

.game-card-wrapper {
    width: 300px;
    flex-shrink: 0;
    
    background-color: #17172B;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-card-wrapper:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}

.game-card-image-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding-top: 60%;
}

.game-card-image {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.game-card-footer {
    padding: 16px 18px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.game-card-title {
    color: #cccccc; 
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

/* Estilo Padrão do Preço */
.game-price {
    margin: 0;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
}

.free-highlight {
    font-size: 1.75rem; 
    font-weight: 800; 
    letter-spacing: -0.5px;
}