@import url('../../global.css');

#full{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    white-space: nowrap;
}

#content{
    z-index: 2;
    width: 80vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20vw;
}