@import url('../../global.css');

.game-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.game-form-card {
    background: var(--background-color);
    border-radius: 12px;
    width: 75%;
    height: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.game-form-header,
.game-form-footer {
    display: flex;
    align-items: center;
    width: 96%;
    height: 7%;
    justify-content: space-between;
}

.game-form-content {
    display: flex;
    align-items: center;
    width: 96%;
    height: 79%;
    justify-content: space-around;
    flex-direction: column;
}

.title-dialog {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

.terms-text {
    color: var(--white);
    font-size: 0.9rem;
}

.stepper-bar {
    height: 12%;
}

.step-content-dialog {
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.title-step-content-dialog {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.fields-step-content-dialog {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dialog-game-content-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    flex-grow: 0;
    overflow-y: auto;
}

.dialog-game-content-left::-webkit-scrollbar {
    width: 8px; 
}

.dialog-game-content-left::-webkit-scrollbar-track {
    background: #0B1950; 
    border-radius: 4px;
}

.dialog-game-content-left::-webkit-scrollbar-thumb {
    background-color: #455592; 
    border-radius: 4px;
    border: 2px solid #0B1950; 
}

.dialog-game-content-left::-webkit-scrollbar-thumb:hover {
    background-color: #5C5E79;
}

.fields-step-content-dialog-cover-image {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.cover-game-input {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed var(--white);
    overflow: hidden;
}

#cover-game-holder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.dialog-game-content-right {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}

.dialog-game-content-right-title {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.cover-image-instruction-item,
.cover-image-instruction-item>p {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.media-grid-container-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 350px;
    gap: 15px;
    width: 95%;
    max-height: 450px;
    padding-right: 5px;
    overflow-y: auto;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.item-media-grid-game {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item-grid-container-game {
    width: 100%;
    height: 100%;
    border: 1px dashed var(--white);
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.media-grid-container-game::-webkit-scrollbar {
    width: 8px; 
}

.media-grid-container-game::-webkit-scrollbar-track {
    background: #0B1950; 
    border-radius: 4px;
}

.media-grid-container-game::-webkit-scrollbar-thumb {
    background-color: #455592; 
    border-radius: 4px;
    border: 2px solid #0B1950; 
}

.media-grid-container-game::-webkit-scrollbar-thumb:hover {
    background-color: #5C5E79; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.icon-game-input {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed var(--white);
    overflow: hidden;
}

#icon-game-holder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

button {
    background-color: var(--white);
    color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}