@import url('../../global.css');

.DialogModalOpen {
    overflow: hidden;
    background: var(--background-color);
}

.Dialog.DialogModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.DialogModalWrap {
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
}

.DialogHeader {
    font-family: "Gabarito", sans-serif;
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 15px;
}

.DialogBody {
    font-family: "Gabarito", sans-serif;
    color: var(--white);
     font-weight: 500;
    font-size: 16px;
}

.DialogFooter {
    margin-top: 15px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.DialogDismiss {
    cursor: pointer;
    margin-right: 15px;
    color: var(--white);
}

.button-dialog {
    background: none;
    border: none;
    color: var(--white);
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
}