@import url('../../global.css');

#full {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    white-space: nowrap;
}

#content {
    z-index: 2;
    width: 80vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20vw;
}

.header-gamepage {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.game-page-container {
    width: 80%;
    background-color: black;
}

.button-group-gamepage {
    display: flex;
    gap: 10px;
}

.edit-categ-button-group-gamepage {
    background-color: transparent;
    color: var(--white-pure);
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: border 0.3s ease;
    border: 1px solid transparent;
}

.edit-categ-button-group-gamepage:hover {
    border: 1px solid var(--white-pure);
}

.add-game-button-group-gamepage {
    background-color: var(--blue);
    color: var(--white-pure);
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: border 0.3s ease;
    border: 1px solid transparent;
}

.add-game-button-group-gamepage:hover {
    border: 1px solid var(--white-pure);
}