@import url('../../global.css');

#full {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    white-space: nowrap;
}

#content {
    z-index: 2;
    width: 80vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20vw;
}

.header-gamepage {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
}

.game-page-container{
    width: 80%;
    background-color:black;
}

button {
    cursor: pointer;
    background-color: var(--gray);
}