@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lobster&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: radial-gradient(60.42% 42.19% at 50% 79.17%, #0B1950 0%, #110535 100%);
  --secondary: 34, 37, 89;
  --white: 199, 193, 232;
  --accent:69, 85, 146;
}

p {
  color: rgb(var(--Accent));
  font-family: Gabarito;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

#root, #app, main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--white));
}

main {
  background: var(--background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button-stitch{ 
  font-family: "Gabarito";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  padding: 4px 18px;
  border-radius: 25px;
  border: none;
}

button{
  height: 40px;
}

.button-stitch-selected{ 
    color: #05122D;
    background-color: var(--white);
}

.button-stitch-unselected{ 
    color: #596687;
    background-color: #05122D;
}
